@model PostViewModels.PostCreateViewModel

<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Post" asp-action="Create">

                <div class="form-group">
                    <label for="">Select Community : </label>
                    <select required class="form-control" asp-for="CommunityId" asp-items="@Model.Communities">
                        <option disabled selected value="">Please Select</option>
                    </select>
                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="">Title : </label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="">Body : </label>
                    <textarea class="form-control" asp-for="Body"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>