
@model HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if(!Model.Posts.Any()){
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><i class="icon fa fa-ban"></i> No Posts </p>
    </div>

    <a class="btn btn-primary" asp-controller="Post" asp-action="create">Create One</a>
}


